body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
}
.App{
  width: 960px;
  margin: 0 auto;
}
h1{
  color: #ffff57;
  font-size: 4em;
  letter-spacing: 2px;
}
button{
  margin: 0 10px;
  background: linear-gradient(45deg #fff, 50%, #cfcf42 50%);
  border: 3px solid #cfcf42;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #cfcf42 50%, transparent 50%);
  overflow: hidden;
  z-index: -1;
}

button, button:after {
  background-size: 300%;
  background-position: 100%;
  transition: .5s;
}

button:hover, button:hover:after {
  background-position: 0;
  -webkit-text-fill-color: #222;
}

button:disabled {
  border: 3px solid grey;
  cursor: not-allowed;
}
button:disabled:hover {
  -webkit-text-fill-color: grey;
}
button:disabled:hover::after {
  -webkit-text-fill-color: grey;
  background-position: 100%;
}

.content{
  text-align: left;
}
.card{
  padding: 8px 16px;
  background: #1b1b1b;
  margin: 16px 0;
  border-radius: 20px;
}
.card p{
  margin: 6px 0;
  color: #999;
}
.card h3{
  margin: 10px 0;
  color: #ffff57;
}